    
<div>
          <div>
            <h3>Name<span>*</span></h3>
            <div>
             <%= f.text_field :name%>
            <h3>Code for order placing<span class="red">*</span></h3>
            <div class="select-field">
             <%= f.text_field :code_for_placing_order%>
            </div>
            </div>
            </div>            
            
            
          </div>
        
        </div>
